# Gradle
.gradle/
target/
buildSrc/build

# IntelliJ IDEA
.idea/*
!.idea/runConfigurations/
!.idea/codeStyles/
!.idea/dataSources.local.xml
!.idea/dataSources.xml
out/
*.iml

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# okey-doke approval testing
*.actual

logs/
*.pid
*.DS_Store

launcher.yml

pipeline.yml

# Frontend
node_modules
package-lock.json

